* {
  font-family: "Open Sans";
}
nav {
  background-color: #2e9aa6; /* No puedo hacer que la barra sea transparente :( */
}
/* Con esto, la barra de navegación queda fija arriba para que no moleste al navegar en móviles */
@media screen and (max-width: 600px) {
    .fixed-top{
        position: inherit;
    }
}
/* Tamaño, posición de carrusel */
#Inicio {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
body {
  background-color: black;
}
#Quienes-Somos hr {
  border: 1px solid #2e9aa6;
}

#Icon-Bar {
  background-color: #2e9aa6;
}

#Destacados hr {
  border: 1px solid #2e9aa6;
  margin-bottom: 2%;
}

#Destacados h3 {
  margin-top: 10%;
}
/* Espacio izquierda y derecha en pantallas de alta resolución(escritorio) */
@media screen and (min-width: 1025px) {
  #Destacados {
    padding-left: 100px;
    padding-right: 100px;
  }
}
/* Color y altura de tarjetas de sección destacados */
#Tarjeta {
  background-color: #2e9aa6;
  border: 1px solid #fff;
  height: 30em;
}
/* Mantiene la misma altura para todas las imágenes */
#Tarjeta img {
  height: 157px;
}
/* Muestra de a 2 tarjetas en pantallas de resolución menor a 1024 (ipad/table) */
@media screen and (max-width: 1024px) {
  #Tarjeta {
    background-color: #2e9aa6;
    border: 1px solid #fff;
    height: fit-content;
    margin-top: 5%;
  }
  
}

/* Barra que subraya título. Esto le cambia el color y le da un espaciado inferior */
#Contacto hr {
  border: 1px solid #2e9aa6;
  margin-bottom: 2%;
}
/* Título Contacto. Con espaciado superior */
#Contacto h3 {
  margin-top: 10%;
}
/* Esto hace que el footer se separe de la sección superior */
#Footer {
  margin-top: 5%;
  background-color: #2e9aa6;
}
